{% extends 'base.html.twig' %}

{% block body %}
    <pre>

<h1>Egoista</h1>


Uda­wany uśmiech,
Dławiący
Rzew­ne łzy.

Nie­szcze­re słowo,
Za­myka­ne w serca
Dziczy.

Popląta­ne myśli,
Walczące
O wolność.

Za­wiąza­ny język,
W cze­luściach kłamstw
Zaciśnięty.

Niewi­dome oczy,
Zaśle­pione
Włas­nym odbiciem.

Niez­darne ręce,
Bez sił,
Aby unieść
Tak ciężkie,

Egoistyczne

Brzemię... 


    </pre>
{% endblock %}
