{% extends 'base.html.twig' %}

{% block body %}
    <article>

<h1>Egoista</h1>

<p>
Uda­wany uśmiech,<br />
Dławiący <br />
Rzew­ne łzy.
<p />
<p>
Nie­szcze­re słowo, <br />
Za­myka­ne w serca <br />
Dziczy. 
<p />
<p>
Popląta­ne myśli, <br />
Walczące <br />
O wolność. 
<p />
<p>
Za­wiąza­ny język, <br />
W cze­luściach kłamstw <br />
Zaciśnięty. 
<p />
<p>
Niewi­dome oczy, <br />
Zaśle­pione <br />
Włas­nym odbiciem. 
<p />
<p>
Niez­darne ręce, <br />
Bez sił, <br />
Aby unieść <br />
Tak ciężkie, 
<p />
<p>
Egoistyczne<br />
<br />
Brzemię... 
<p />

    </article>
{% endblock %}
